h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3/8rem;
    letter-spacing: -0.045em;
    color: $white;
    margin-top: 3.2rem;
}

p, span {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 157.1%;
    color: $white;
    margin-top: .8rem;
}